<div {{ bem(contact_card__base_class, contact_card__modifiers, contact_card__blockname, contact_card__extra_classes) }}>
  <p>{{ contact_card_address }}</p>
  <p class="phone"><span>{{ "Phone:"|t }}</span> {{ contact_card_phone }}</p>
  <p class="service-number"><span>{{ "WhatsApp:"|t }}</span> {{ contact_card_service_number }}</p>
</div>
