{% set component_class = 'video' %}
<div {{bem('wrap',['one'], component_class, component_additional_class )}}>
  <div {{bem('inner',['one'], component_class )}}>
    <div {{bem('body',['one'], component_class )}}>
      <h2 {{bem('title',['one'], component_class, component_additional_class )}}>{{ title }}</h2>
      <p {{bem('text',['one'], component_class, component_additional_class )}}>{{ text }}</p>
      {% if link is not null %}
          {% include "@ds_elements/links/link/arrow-link.twig" with {
            item__content: link_title,
            item__url: link,
            is_external: is_external,
            item__link_title: link_title,
            link_base_class: "video-link",
            link_modifiers: [],
            link_container_base_class: "link-container",
            link_container_modifiers: [],
            arrow_src: "/themes/custom/biu_base/assets/animations/white-arrow.json",
          } %}
        {% endif %}
    </div>
    <div {{bem('video-embed',['one'], component_class )}}>
      {{ video }}
    </div>
  </div>
</div>