<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="search-box collapse" id="collapseSearch">
        {{ page.search_block }}
        <a class="search-close collapsed" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch" tabindex="-1"><i class="fa-regular fa-x"></i></a>
      </div>
      {% block head %}
        {{ page.primary_menu }}
      {% endblock %}
    </header>
    <a id="button"></a>
    <div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="myModalLabel">Confirm Remove</div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <a class="btn btn-danger btn-ok remove-button">Remove</a>
            <button type="button" class="cancel-button btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="{{ container }} section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    {% if page.featured_top %}
      {% block featured %}
        <div class="featured-top">
          <aside class="featured-top__inner section {{ container }} clearfix" role="complementary">
            {{ page.featured_top }}
          </aside>
        </div>
      {% endblock %}
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      {% block content %}
        <div id="main" class="{{ container }}">
          {#           {{ drupal_block('system_breadcrumb_block') }} #}
          <div class="width mt-5">
            <h1 class="title">Courses</h1>
            <p>Browse all current and upcoming instructor-led courses and self-paced learning opportunities</p>
          </div>
          <div class="row row-offcanvas row-offcanvas-left clearfix">
            <main{{ content_attributes }}>
              <section class="section">
                <a id="main-content" tabindex="-1"></a>
                {{ page.content }}
              </section>
            </main>
            {% if page.sidebar_first %}
              <div{{ sidebar_first_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
              </div>
            {% endif %}
            {% if page.sidebar_second %}
              <div{{ sidebar_second_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_second }}
                </aside>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="{{ container }} clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
        </aside>
        {{ page.featured_bottom_third }}
      </div>
    {% endif %}
    <footer class="site-footer">
      {% block footer %}
        <div class="{{ container }}">
          <div class="site-footer__lg d-none d-lg-block">
            <div class="row">
              <div class="col-lg-4">
                {{ page.footer_first }}
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-3">
                    {{ page.footer_second }}
                  </div>
                  <div class="col-md-3">
                    {{ page.footer_third }}
                  </div>
                  <div class="col-md-3">
                    {{ page.footer_fourth }}
                  </div>
                  <div class="col-md-3">
                    {{ page.footer_fifth }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="site-footer__sm d-block d-lg-none">
            <div class="row">
              <div class="col-md-12">
                {{ page.footer_menu_sm }}
              </div>
              <div class="menu-social d-block d-lg-none">
                <ul>
                  <li><a class="fa facebook" href="#">Facebook</a></li>
                  <li><a class="fa linkedin" href="#">Linkedin</a></li>
                  <li><a class="fa twitter" href="#">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="site-footer__bottom">
            {{ page.footer_bottom }}
          </div>
          <div class="site-footer__legal">
            <div class="legal-menu-sm">
              {{ page.footer_legal }}
            </div>
            <img class="d-block d-lg-none mx-auto mt-5" src="https://www.trainingaid.org/themes/custom/training_aid/images/trainingaid-footer-logo.png">
            <div class="copyright">
              <span>Copyright © 2022 TrainingAid. All rights reserved</span>
              {{ page.footer_legal }}
            </div>
          </div>
        </div>
        {% if page.footer_simple %}
          <div class="site-footer__simple">
            {{ page.footer_simple }}
          {% endif %}
        </div>
      {% endblock %}
    </footer>
  </div>
</div>